* {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;

  width: 100%;
}

label.custom-file-upload {
  margin-left: 20px;
}

.row img {
  border-radius: 5px;
  width: 50px;
}

.row-img {
  border-radius: 5px;
  width: 50px;
}

table {
  border: 1px solid #a4a4a5;
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #a4a4a5;
}

td {
  /* border-bottom: 1px solid #a4a4a5; */
  padding-top: 25px;
  padding-bottom: 25px;
}

a {
  text-decoration: none;
}

.edit-container {
  border: 2px solid black;
  border-radius: 8px 8px;
  padding-left: 40px;
}

/* Index Page CSS */
.test {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-main {
  border: 1px solid #a4a4a5;
  border-radius: 13px;
  width: 400px;

  margin-left: auto;
  margin-right: auto;
}

.login-form-cont {
  margin-left: 50px;
  margin-right: 50px;
}

.login-form-cont h4 {
  margin-bottom: 20px;
}

.dev-logo {
  margin-top: 40px;
  margin-bottom: 30px;
}

.form-info {
  font-size: 13px;
  margin-right: 10px;
  margin-bottom: 30px;
}

/* Inputs in the login form */

.login-form-cont input {
  border: none;
  padding: 8px 8px 8px 8px;
  width: 100%;
}

.input-cont {
  display: flex;
  align-items: center;
  border: 1px solid #a4a4a5;
  border-radius: 3px;
  margin-bottom: 10px;
}

.input-cont img {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.index-button {
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #2e80ec;
  padding: 5px 2px 5px 2px;
  text-align: center;
  width: 100%;
}

.social-cont {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.social-cont p {
  color: #a4a4a5;
  font-size: 0.8rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.social-prof {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.member {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.member span {
  color: #a4a4a5;
}

.mod {
  font-size: 11px;
}

/* Home Page dashboard  *********/

.top-info {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.td-title {
  padding-left: 30px;
}

.top-prof-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #a4a4a5;
  border-bottom: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}

.prof-sect {
  cursor: pointer;
  border: 1px solid #a4a4a5;
  border-radius: 10px;
  align-self: center;
  justify-content: center;
  margin-right: 40px;
  padding: 6px 20px 6px 20px;
}

.top-left-logo {
  margin-top: 20px;
  margin-left: 30px;
}

.top-banner {
  display: flex;
  justify-content: space-between;
}

.top-banner p {
  margin-top: 20px;
  margin-right: 30px;
}

/* EDIT PAGE CONFIG */

.wrapper {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.back {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.change-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

.change-info h4 {
  font-size: 1.2rem;
}

.change-info p {
  font-size: 0.8rem;
}

.inpname {
  border: 1px solid #a4a4a5;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px 5px 10px 5px;
  width: 50%;
}

.label-text {
  font-size: 0.8rem;
}

.save {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #2f80ed;
  margin-bottom: 40px;
  padding: 5px 15px 5px 15px;
}
